<!doctype html>

<html>

    <head>

        <title>Larvaus intro</title>

    </head>



    <body>
	<img src="{{ pic }}" alt="Larvaus lift">

        <h1> Larvaus is doing the heavy lifting, just be patient!</h1>       

	<p> You know, if I had arms and legs how fast would it then be! </p>
	<p> Just be patient, if I am online You will get response in few minutes. </p>
	<p> If I am offline then it might take couple more minutes to tell You that. </p>
	<p><a href="./larvaus1/"> Now, stop talking and call in Larvaus no1! </a></p>
        
	
    </body>

</html>