<!doctype html>

<html>

    <head>

        <title>Larvaus</title>

    </head>



    <body>
	<img src="{{ pic }}" alt="Larvaus">

        <h1> Larvaus has predicted the 1st number for round {{ round }} ! </h1>


        <h3>  {{ data }} </h3>

        
	<p> So exciting! </p>
	<p> If I win I would buy myself a new hat, I mean a new mat, I mean a new cat, nope, I mean a new flat. </p>
	<p><a href="../larvaus2/"> Now, call in Larvaus no2! </a></p>

    </body>

</html>