<!doctype html>

<html>

    <head>

        <title>Larvaus</title>

    </head>



    <body>
	<img src="{{ pic }}" alt="Larvaus">

        <h1> Larvaus has predicted the 3rd number for round {{ round }} ! </h1>



        <h3>  {{ data }} </h3>

        <p> So many numbers already, phew! </p>
	<p> It is hard job to predict these from scratch when You have to pull all those plugs by teeth. </p>
	<p><a href="../larvaus4/"> Now, call in Larvaus no4! </a></p>

    </body>

</html>