<!doctype html>

<html>

    <head>

        <title>Larvaus</title>

    </head>



    <body>
	<img src="{{ pic }}" alt="Larvaus">

        <h1> Larvaus has predicted the 2nd number </h1>
	<h1> for round {{ round }} ! </h1>


        <h3>  {{ data }} </h3>

        <p> Have You won anything before? What was it? A comb? Oh, if I had hair I would love to have a comb, too. I won once a rusty nail, it was tasty. I lick it every night. </p>
	<p><a href="../larvaus3/"> Now, call in Larvaus no3! </a></p>

    </body>

</html>