<!doctype html>

<html>

    <head>

        <title>Larvaus</title>

    </head>



    <body>
	<img src="{{ pic }}" alt="Larvaus">

        <h1> Larvaus has predicted the 5th number for round {{ round }} ! </h1>



        <h3>  {{ data }} </h3>

        <p> Sooo big numbers already. Ran out of my fingers already. Oh, sorry, I do not have any fingers. Could use some fingers here, they are so handy. </p>
	<p><a href="../larvaus6/"> Now, call in Larvaus no6! </a></p>

    </body>

</html>