<!doctype html>

<html>

    <head>

        <title>Larvaus</title>

    </head>



    <body>
	<img src="{{ pic }}" alt="Larvaus">

        <h1> Larvaus has predicted the 7th number for round {{ round }} ! </h1>



        <h3>  {{ data }} </h3>

        <p> Yuhuu! That was the last number and I am so exhausted. Want to see them all together? Really? Did You not write them down already? </p>
	<p><a href="../larvaus/"> Now, call in Larvaus summary!</a></p>

    </body>

</html>